<div class="form-container">
  <h2 class="mb-2">Form Add Flight Arrival</h2>

  <form method="post" action="/arrival">
    <div class="form-row">
      <div class="column">
        <label for="airline" class="form-label">Airline</label>
        <input type="text" maxlength="2" class="form-control" id="airline" name="airline" placeholder="masukkan kode airline" aria-describedby="airline" />

        <label for="flightnumber" class="form-label">Flight Number</label>
        <input type="number" class="form-control" id="flightnumber" name="flightnumber" placeholder="1266" aria-describedby="flightnumber" />

        <label for="origin" class="form-label">Origin</label>
        <input type="text" class="form-control" id="origin" name="origin" placeholder="nama kota" style="text-transform: uppercase" aria-describedby="origin" />

        <label for="arrivedate" class="form-label">Arrival Date</label>
        <input type="date" class="form-control" id="arrivedate" name="arrivedate" aria-describedby="arrivedate" />
      </div>

      <div class="column">
        <label for="arrivetime" class="form-label">Arrival Time</label>
        <input type="time" class="form-control" id="arrivetime" name="arrivetime" aria-describedby="arrivetime" />

        <label for="baggage" class="form-label">Baggage Claim</label>
        <input type="text" class="form-control" id="baggage" name="baggage" placeholder="01" aria-describedby="baggage" />

        <label for="remark" class="form-label">Remark</label>
        <input type="text" class="form-control" id="remark" name="remark" aria-describedby="remark" />
      </div>
    </div>
    <button type="submit" class="btn" style="background-color: rgb(202, 141, 182)">Add</button>
  </form>
</div>
