<div class="container">
  <aside class="sidebar">
    <h2>Side Bar</h2>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="/departure" target="_blank">Departure Dashboard</a></li>
      <li><a href="/arrival" target="_blank">Arrival Dashboard</a></li>
      <li><a href="/wisata" target="_blank">8 Rekomendasi Wisata Nias</a></li>
    </ul>
  </aside>
  <main class="main-content">
    <header class="header">
      <h1 class="gradient-text">FLIGHT DASHBOARD</h1>
      <div class="header-actions">
        <a href="/logout"><button>Logout</button></a>
      </div>
    </header>
    <section class="content">
      <div class="bg-overview"><h2 class="flight-overview text-color2">OVERVIEW</h2></div>

      <div class="cards">
        <div class="card flight-status">
          <a href="/departure" target="_blank" rel="noopener noreferrer"><img class="rounded-lg img-depart" src="img/departure2.jpg" alt="" /></a>
          <a href="/departure" target="_blank" rel="noopener noreferrer"><h3>Manage Departure</h3></a>
        </div>
        <div class="card weather">
          <a href="/arrival" target="_blank" rel="noopener noreferrer"><img class="rounded-lg img-depart" src="img/arrival2.jpg" alt="" /></a>
          <a href="/arrival" target="_blank" rel="noopener noreferrer"><h3>Manage Arrival</h3></a>
        </div>
      </div>
    </section>
  </main>
</div>
