<div class="container">
  <div class="form-container register-container">
    <% if (msgNewPass.length !== 0) { %>
    <div class="alertPass alert-success fw-bold" style="background-color: rgb(62, 206, 69)"><%= msgNewPass %></div>
    <% } %>
    <form method="post" action="/reset?_method=PUT">
      <h1>You are resetting your password</h1>
      <input type="hidden" placeholder="Please input your username" name="username" value="<%= username %>" />
      <input class="" type="password" placeholder="Password" name="password" />
      <input class="" type="password" placeholder="Confirm Password" name="confirmPassword" />
      <button type="submit">Confirm</button>
    </form>
  </div>
</div>
